# OS X Finder
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Node
node_modules/
npm-debug.log
/code/src/server/node/node.iml
META-INF
.idea

# Lint files
.eslintcache

#
# Node Test Artifacts
#
lib-cov
models-cov
routes-cov
coverage.html
docs/test.html
coverage
